body {
    font:12px/18px 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.bodyBackgroundColor {
    background-color: #212121;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.displayNone {
    display: none;
}
.displayBlock {
    display: inline-block;
}

.myBody {
    min-width: 1000px;
}
.customBorder {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.indexContainer {
    margin: 0 auto;
    width: 1100px;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 8;
}
.myHeaderSize {
    width: 1100px;
    margin: 0 auto;
}
.lefTopRightStyle {
    height: inherit;
    overflow-y: auto;
}
.customDiscreteBackground {
    background-color: #FAFAFA;
}
.overflowXHide {
    overflow-x: hidden;
}
.myBorder {
    border: 1px solid black;
}
.myHeader {
    position: fixed;
    top: 0;
    height: 60px;
    min-width:995px;
    width: 100%;
    z-index: 9;
    background-color: #F0F0F0;
}
.myFooter {
    position: fixed;
    bottom: 0;
    height: 60px;
    min-width:995px;
    width:100%;
    z-index: 100;
    background-color: #F0F0F0;
}

.innerDiv {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.customDivFiller {
    width: 100%;
    height: 100%;
}

.leftTopContainer { 
    width: 100%;
}
.leftTopContainer .leftTopOuter {
    width: 100%;
    padding-top: 34.5%;
    position: relative;
}
.leftTopContainer .leftTopOuter .leftTopInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.customleftBottomPadder {
    margin-left: 15px;
    padding-top: 15px;
    width: 737.33px;
}
.customIndexRightPadder {
    padding-left: 15px;
    padding-right: 15px;
}
.customRightBottomPadder {
    padding-top: 15px;
}
.playlistName {
    float: left;
    text-align: left;
    width: 217px;
    height: 23px;
    margin-left: 2px;
    overflow: hidden;
}
.ytLinkFix {
    float:left;
    width:255px;
}

.playlistDivsPadder {
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.playlistVideoContainer {
    height: 41px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.playlistVideoOrderNumber {
    width: 5px;
    height: 41px;
    line-height: 41px;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}
.playlistVideoOrderNumberH6 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
}
.playlistVideoImage {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}
.playlistVideoName {
    height: 41px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 5px;
    margin-right: 5px;
}
.playlistVideoNameH6 {
    display: inline-block;
    margin-top:0;
    color: white;
}
.playlistContainer {
    margin-top:10px;
    height: 321px;
    overflow-y: auto;
    background-color: #484848;
}
.playlistVideoClickLink {
    height: 100%;
    float: left;
    width: calc(100% - 26px);
    cursor: pointer;
}
.leftFloater {
    float: left;
}
.playlistInfoContainer {
    background-color: #404040
}
.highlightPlaylistVideo {
    background-color: yellowgreen;
}

.searchFieldDiv {
    width: 348px;
    padding-top: 12px;
    margin-left: 65px;
}
.searchButtonDimensions {
    height: 34px;
    width: 68px;
}
.loginHeaderPadder {
    margin-top: 12px;
    width: 240px;
    height: 46px;
}
.loginHeaderUserName {
    margin-left: 10px;
    margin-top: 6px;
    float: left;
}
.fillplaylist {
    width: 70px;
    margin-top: 10px;
    margin-left: 90px;
}
.searchResultItemContainer {
    height: 82px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.searchResultButtonContainer {
    width: 30px;
    height: 100%;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.searchResultImageContainer {
    float: left;
    padding-right: 5px;
}
.searchResultTextContainer {
    float: left;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 196px);
    height: 82px;
}
.searchResultPlayButton {
    padding-top: 2px;
}
.searchResultAddButton {
    padding-top: 10px;
}
.searchResultName {
    height: 28px;
    overflow: hidden;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 6px;
}
.searchResultChannelTitle {
    height: 15px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 5px;
}
.searchResultDuration {
    height: 15px;
    overflow: hidden;
    margin: 0;
    padding-bottom: 2px;
}
.nextPrevButtonsContainer {
    display: flex;
    justify-content: center;
}
.searchNextPrevButtons {
    align-self: center;
}
.searchNextPrevButton {
    visibility:hidden;
}
.actionButtonsContainer {
    margin-left: 5px;
    padding-top: 5px;
    height: 50px;
    float: left;
}
.playPreviousButton {
    padding-top: 5px;
    height: 50px;
    width: 50px;
    float: left;
}
.playNextButton {
    padding-top: 5px;
    height: 50px;
    width: 50px;
    float: left;
}
.pausePlayButton {
    padding-top: 5px;
    height: 50px;
    width: 50px;
    float: left;
}
.volumeControllerContainer {
    margin-left: 5px;
    padding-top: 5px;
    height: 50px;
    float: left;
}
.volumeIcon {
    padding-top: 5px;
    height: 50px;
    width: 50px;
    float: left;
}
.volumeSlider {
    padding-top: 20px;
    height: 50px;
    width: 100px;
    float: left;
}
.progressBarController {
    margin-left: 30px;
    height: 50px;
    width: 655px;
    float: left;
}
.progressTimer {
    width: 30px;
    float: left;
    padding-top: 14px;
}
.progressBarSlider {
    float: left;
    width: 595px;
    padding-top: 25px;
    padding-right: 9px;
    padding-left: 2px;
}
.autoPlaySuggestionsButtonContainer {
    height: 22px;
    width: 104px;
    margin: 0 auto;
}
.autoPlaySuggestionsButton {
    width: 50px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.customAutoplaySuggestionsText {
    margin-top: 4px;
    margin-bottom: 0;
    margin-right: 5px;
}
.lightUpSuggestedAutoplayButton {
    background-color: #8BC34A;
}
.autoPlaySuggestionsButton:hover {
    border-color: #333333;
}
.slideInMenu {
    width: 250px;
    background: #E0E0E0;
    position: fixed;
    top: 60px;
    bottom: 60px;
    height: calc(100% - 120px);
    left: 0;
    z-index: 20;
    display: none;
}
.showMenuButtonDiv {
    width: 30px;
    padding-top: 14px;
    margin-left: 15px;
}
.addPlayedVideoToPlaylist {
    position: relative;
    top: 10px;
    float: right;
}
.addPlayedVideoToPlaylistButton {
    margin: 0;
    width: 10px;
    height: 10px;
}
.descriptionNameCustomWidth {
    width: 250px;
}
.savedPlaylistsHeader {
    margin-top: 10px;
    width: 250px;
    height: 46px;
}
.savedPlaylistHeaderInner {
    width: 132px;
    margin: 0 auto;
}
.savedPlaylistsContainer {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 56px);
}
.savedPlaylistName {
    width: 250px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.savedPlaylistName:hover {
    background-color: white;
}
.dropdownItem {
    cursor: pointer;
}
.dropdownItem:hover {
    background-color: #EEEEEE;
}
.loginButtons {
    width: 147px;
    margin: auto;
}